<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-[#164863] mb-4 mt-4">Product Inventory</h1>
        <h2 class="text-3xl font-bold text-[#164863] mb-4 mt-4">คลังสินค้า</h2>
        <a href="add/" class="bg-[#164863] font-bold text-[#DDF2FD] absolute top-18 right-24 px-4 py-2 rounded hover:bg-[#DDF2FD] hover:text-[#164863]">เพิ่มสินค้า</a>
        <table class="table-auto w-full mt-20 border-collapse border border-gray-200">
            <thead>
                <tr class="bg-[#164863]">
                    <th class="text-[#DDF2FD] border rounded-lg px-4 py-2">ชื่อสินค้า</th>
                    <th class="text-[#DDF2FD] border rounded-lg px-4 py-2">จำนวน</th>
                    <th class="text-[#DDF2FD] border rounded-lg px-4 py-2">ราคาต่อหน่วย</th>
                    <th class="text-[#DDF2FD] border rounded-lg px-4 py-2 w-48">การจัดการ</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="bg-white hover:bg-gray-100">
                    <td class="border px-4 py-2 text-center align-middle">{{ product.name }}</td>
                    <td class="border px-4 py-2 text-center align-middle">{{ product.quantity }}</td>
                    <td class="border px-4 py-2 text-center align-middle">${{ product.price_per_unit }}</td>
                    <td class="border px-4 py-2">
                        <div class="flex justify-between items-center">
                        <a href="edit/{{ product.id }}/" class="bg-green-500 text-white px-4 py-1 border-l-4 hover:bg-green-600">แก้ไข</a>
                        <form action="delete/{{ product.id }}/" method="post" class="inline">
                            {% csrf_token %}
                            <a href="{% url 'delete_product' product.id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">ลบ</a>
                        </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>